@import "styles/variables.scss";

.form {
  background-color: $color-secondary;
  padding: 1rem;
  border-radius: 0.5rem;

  -webkit-box-shadow: 8px 8px 24px 0px $color-background;
  -moz-box-shadow: 8px 8px 24px 0px $color-background;
  box-shadow: 8px 8px 24px 0px $color-background;

  .fieldGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;

    input,
    option,
    select,
    textarea {
      font-size: 1rem;
    }

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    label {
      margin-bottom: 0.5rem;
    }

    .required::before {
      content: "* ";
    }

    textarea {
      white-space: pre-wrap;
    }
  }

  button {
    margin: 0 auto;
    padding: 0.75rem 1.5rem;
    border-radius: 50rem;
    background-color: $color-primary-light;
    color: $color-white;
    font-weight: 700;
    font-size: 1.25rem;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    outline: none;

    // center the button
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: lighten($color-primary-light, 5);
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    }
  }
}
