@import "styles/variables.scss";

.dietDayContainer {
  .image {
    transition: 0.3s;
  }

  @media screen and (max-width: $breakpoint-md) {
    margin: 0 auto;
    max-width: 520px;
  }

  .day {
    font-size: 1.5rem;
  }

  .dietDay {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;

    .meal {
      background-color: $color-secondary;
      padding: 0.75rem;
      border-radius: 0.5rem;
      flex: 1;

      &:last-of-type {
        border-radius: 0.5rem 0.5rem 0 0;
      }

      .preparationTime {
        margin-bottom: 0.5rem;

        .icon {
          margin-right: 0.5rem;
          max-height: 1rem;
        }
      }

      .mealName {
        margin-bottom: 0.5rem;

        @media screen and (min-width: $breakpoint-sm) {
          font-size: 1.25rem;
        }

        @media screen and (min-width: $breakpoint-md) {
          font-size: 1rem;
        }

        @media screen and (min-width: $breakpoint-lg) {
          font-size: 1rem;
        }
      }
    }
  }
}
