.formContainer {
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 11;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .form {
    z-index: 12;
    margin: 0 1rem;
    position: relative;
  }
}
