@import "../../../../styles/_variables.scss";
@import "../../../../styles/_animations.scss";

.navbarWrapper {
  position: fixed;
  z-index: 1;
  width: 100%;

  animation: 0.3s ease-in-out loadOpacity;

  .navbar:not(:hover).transparent {
    background-color: rgba($color-secondary, 0);
    box-shadow: none;
  }

  .navbar:hover.transparent {
    background-color: rgba($color-secondary, 1);
  }

  .navbar {
    background-color: $color-secondary;
    color: $color-white;
    display: flex;
    justify-content: space-between;

    transition: box-shadow, background-color 0.3s ease-in-out;

    -webkit-box-shadow: 0px 16px 40px 0px rgba($color-background, 0.5);
    -moz-box-shadow: 0px 16px 40px 0px rgba($color-background, 0.5);
    box-shadow: 0px 16px 40px 0px rgba($color-background, 0.5);

    height: $navbar-height-desktop;
    padding: 0 1rem;

    .header {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .logo {
        font-size: 1.75rem;
        font-weight: 800;
      }
    }

    .list {
      margin-top: 0.5rem;
      list-style: none;
      padding: 0;
      font-size: 1rem;
      font-weight: 600;
      display: flex;
      position: relative;

      .link {
        display: inline-block;
        margin: 0.25rem 0.5rem;
        padding: 0.75rem 0.5rem;
        border-radius: 0.5rem;
        z-index: 2;
      }

      .active {
        z-index: 2;
        color: $color-secondary;
        background-color: $color-primary;
      }

      .activeHighlightContainer {
        position: fixed;
        height: 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
    }

    .account {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
