@import "styles/variables.scss";

.main {
  min-height: 100vh;
  color: $color-white;

  > * {
    padding: 3rem 1rem 1rem;

    @media (min-width: $breakpoint-sm) {
      padding: 1rem 3rem 1rem;
    }

    @media (min-width: $breakpoint-md) {
      padding: 5rem 1rem 1rem;
    }
  }
}
