// Breakpoints
$breakpoint-sm: 576px; // phone - default
$breakpoint-md: 1024px; // tablet
$breakpoint-lg: 1440px; // desktop

// Variables
$color-primary: #9ef1e2;
$color-secondary: #232323;
$color-background: #0d0c0f;
$color-white: #fff;

// Heights
$navbar-height-desktop: 4rem;
