// Breakpoints
$breakpoint-sm: 576px; // phone - default
$breakpoint-smd: 756px;
$breakpoint-md: 1024px; // tablet
$breakpoint-lg: 1600px; // desktop
$breakpoint-xl: 1920px; // desktop

// Variables
$color-primary: #a8872b;
$color-primary-light: lighten($color-primary, 15%);
$color-secondary: #232323;
$color-background: #0d0c0f;
$color-white: #fff;
$color-gray: #b4b4b4;

// Heights
$navbar-height-desktop: 4rem;
